body{
  font-family:Arial;
  text-align:center;
  background:#f5f5f5;
}

.page{display:none;margin-top:60px;}

button{
  margin:5px;
  padding:8px;
  background:black;
  color:white;
  border:none;
  border-radius:6px;
}

#products{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:white;
  padding:10px;
  margin:10px;
  width:180px;
  border-radius:10px;
}

.card img{
  width:100%;
  height:120px;
  border-radius:8px;
}

/* BILL */
.bill-box{
  max-width:400px;
  margin:20px auto;
  padding:20px;
  border:2px dashed black;
  background:white;
  text-align:left;
}

.bill-box table{
  width:100%;
}

/* ADMIN SCROLL */
#orders{
  max-height:500px;
  overflow:auto;
}
